<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TWIG</h1>
    <p>Pseudo : {{name}}</p>
    <p>Nom : {{ array.nom}}</p>
    <p>Prénom : {{array.prenom}}</p>
    <p>Age : {{array.age}}</p>
    <p>Profession : {{array.profession}}</p>   
</body>
</html>